{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center" style="color: white;" >Edit Medical Record for {{ record.patient.name }}</h1>
    <form method="POST" class="mt-4">
        
        <div class="form-group">
            <label for="medications">Medications</label>
            <textarea id="medications" name="medications" class="form-control" rows="3">{{ record.medications }}</textarea>
        </div>
        
       
        <div class="form-group">
            <label for="allergies">Allergies</label>
            <textarea id="allergies" name="allergies" class="form-control" rows="3">{{ record.allergies }}</textarea>
        </div>
        
       
        <div class="form-group">
            <label for="vital-signs">Vital Signs</label>
            <textarea id="vital-signs" name="vital_signs" class="form-control" rows="3">{{ record.vital_signs }}</textarea>
        </div>

        
        <div class="form-group">
            <label for="diagnosis">Diagnosis</label>
            <textarea id="diagnosis" name="diagnosis" class="form-control" rows="3">{{ record.diagnosis }}</textarea>
        </div>

       
        <div class="form-group">
            <label for="treatment">Treatment Plan</label>
            <textarea id="treatment" name="treatment" class="form-control" rows="3">{{ record.treatment_plan }}</textarea>
        </div>

        
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a href="{{ url_for('medical_records', patient_id=record.patient_id) }}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}
